<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwq.hr.mapper.HrMapper">

    <resultMap id="BaseResultMap" type="com.lwq.hr.entity.Hr">
        <id column="hrId" jdbcType="INTEGER" property="id"/>
        <result column="hrName" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="userface" jdbcType="VARCHAR" property="userface"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <resultMap id="Map2" type="com.lwq.hr.entity.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="com.lwq.hr.entity.Role">
            <id column="rId" jdbcType="INTEGER" property="id"/>
            <result column="rName" jdbcType="VARCHAR" property="name"/>
            <result column="nameZh" jdbcType="VARCHAR" property="nameZh"/>
        </collection>
    </resultMap>
    <select id="getAllHrs" resultMap="Map2">

    SELECT
        hr.id as hrId,
        hr.name as hrName ,
        hr.phone ,
        hr.enabled,
        hr.address,
        hr.userface,
        role.id as rId,
        role.name as rName,
        role.nameZh
    from hr left join hr_role on hr.id = hr_role.hrid
    left join role on role.id = hr_role.rid
    where hrId != #{id}
    </select>
</mapper>
