<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--  属性注入,必须有无参构造方法-->
	<bean  id= "helloWorld" class= "com.lwq.spring.bean.HelloWorld">
		<property name="name" value="wayne"></property>
	</bean>
	<!--构造注入 有参构造方法的时候使用  --><!--按照位置匹配  -->
	<bean id="car" class="com.lwq.spring.bean.Car">
		<constructor-arg value="bmw" index="0"></constructor-arg>
		<constructor-arg value ="290000"></constructor-arg>
	</bean>
	<!--构造注入之按照类型匹配  -->
		<bean id="car2" class="com.lwq.spring.bean.Car">	
		<constructor-arg value="bmw" type="java.lang.String"></constructor-arg>
		<constructor-arg value ="280000" type="float"></constructor-arg>
	</bean>
	<!-- 建立与其他bean的关系 --><!-- 内部bean property里面定义一个car  外部无法访问 --><!-- list为list属性赋值 -->
	<bean id="persion1" class= "com.lwq.spring.bean.Persion">
		<property name="name" value="wayne"></property>	
		<property name="age">
			<value>27</value>		
		</property>
		
		<!--  <property name="car" ref="car2"></property> -->
		<!-- 空值-->
		<!-- <property name="car"><null/></property> -->
		
		<!--为级联属性赋值 需要先初始化 否则异常  -->
		<!-- <property name="car.brand" value = "222"></property> -->
		
		
		<property name="cars">
			<list>
				<ref bean="car"/>
				<ref bean="car2"/>
				<!-- list里面也可以定义bean-->
				<bean  class="com.lwq.spring.bean.Car">
				<constructor-arg value="aodio" type="java.lang.String"></constructor-arg>
				<constructor-arg value ="58999" type="float"></constructor-arg>
				</bean>
			</list>
		</property>
	</bean>
	<!-- map使用  -->
	<bean id ="newPersion" class="com.lwq.spring.bean.NewPersion">
		<property name="name" value = "jerry"></property>
		<property name="age" >
		 <value>28</value>
		</property>
		<property name="cars">
			<map>
				<entry key="bmw" value-ref="car"></entry>
				<entry key="bmw2" value-ref="car2"></entry>
			</map>
		</property>
	</bean>
</beans>
