<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwq.hr.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.lwq.hr.entity.Goods">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="kw" column="kw" jdbcType="VARCHAR"/>
        <result property="shop" column="shop" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="FLOAT"/>
        <result property="sales" column="sales" jdbcType="INTEGER"/>
        <result property="freight" column="freight" jdbcType="FLOAT"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
        <result property="detailUrl" column="detail_url" jdbcType="VARCHAR"/>
        <result property="etlDate" column="etl_date" jdbcType="VARCHAR"/>
        <result property="etlTime" column="etl_time" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="conditions">
         and locate('下载',title)=0
        and locate('全新',title)=0
        and locate('收藏',title)=0
        and locate('限量',title)=0
        and locate('数字码',title)=0
        and locate('数字版',title)=0
    </sql>

    <select id="byTitle" resultMap="BaseResultMap">
        SELECT * FROM goods_shop WHERE  1=1
        AND title LIKE concat('%', #{title} ,'%')
        AND shop = #{shop}
        <if test="condition!=''">
            AND locate(#{condition},title) = 0
        </if>
        AND etl_date in (
        <foreach collection="days" item="day" separator=",">
            #{day}
        </foreach>
        )
       <include refid="conditions"/>
        group by shop,etl_date
    </select>
    <select id="getMax" resultMap="BaseResultMap">
        select * from goods_shop where 1=1
        AND title like concat('%',#{goodName},'%')
        and etl_date = #{now}
        and price =(
            select max(price) from goods_shop where title like concat('%',#{goodName},'%') and etl_date = #{now}
        <include refid="conditions"/>
        <if test="condition!=''">
            AND locate(#{condition},title) = 0
        </if>
        )
        <include refid="conditions"/>
        <if test="condition!=''">
            AND locate(#{condition},title) = 0
        </if>
        group by shop
    </select>
    <select id="getMin" resultMap="BaseResultMap">
        select * from goods_shop where 1=1
        AND title like concat('%',#{goodName},'%')
        and etl_date = #{now}
        and price =(
            select min(price) from goods_shop where title like concat('%',#{goodName},'%') and etl_date = #{now}
        <include refid="conditions"/>
        <if test="condition!=''">
            AND locate(#{condition},title) = 0
        </if>
        )
        <include refid="conditions"/>
        <if test="condition!=''">
            AND locate(#{condition},title) = 0
        </if>
        group by shop
    </select>
    <select id="selTotal" resultMap="BaseResultMap">
        select * from goods_shop where etl_date = #{now}
    </select>
</mapper>
