<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.js"></script>
</head>
<body>
<div id="app">
    <ol>
        <!-- 创建一个 不带参基础组件 -->
        <todo-item></todo-item>
    </ol>
    <ol>
        <!--v-bind 指令将待办项传到循环输出的每个组件-->
        <todo-item2
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
        ></todo-item2>
    </ol>
    <hr>
    <h4>区别三种取值方式</h4>
    <div >

        <test01
                v-for="name in names"
                :name="name"></test01>
        <hr>
        <test01 name="tom"></test01>
        <hr>
        <test01 :name="name2"></test01>

    </div>
  <div :style="{ fontSize: fontSize + 'em' }"> 字体大小</div>
    <hr>
</div>
</body>

<script type="text/javascript">
    Vue.component('todo-item', {
        template: '<li>这是个待办项</li>'
    })
    Vue.component('todo-item2', {
        // todo-item2 组件现在接受一个"prop"，类似于一个自定义特性。
        // 这个 prop 名为 todo。
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })
    Vue.component('test01',{
        //data 必须定义在这 才能每个组件实例count值独立
        data:function () {
            return {
                count:0
            }
        },
        //props:[] 传入一个对象会方便拓展
        props:['name'],
        template:' <button @click="count += 1">{{name}}点击了{{count}}次</button>'
    })
    const vm = new Vue({
        el:'#app',
        data: {
            groceryList: [
                { id: 0, text: '蔬菜' },
                { id: 1, text: '奶酪' },
                { id: 2, text: '随便其它什么人吃的东西' }
            ],
            names:['wayne','jack'],
            name2:'tom',
            fontSize:2,
        }
    })

</script>
</html>